{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="row">
    <form method="post" class='form col-sm-12 col-md-6'>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en temps que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    <div class="row text-center">
            <h1 class="h3 mb-3 font-weight-normal m-auto">Me connecter</h1>
    </div>
    <div class="row my-5">
            <label for="inputEmail" class="col-sm-12 col-md-2">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-sm-12 col-md-6" required autofocus>
    </div>
    <div class="row my-5">
            <label for="inputPassword" class="col-sm-12 col-md-2">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control col-sm-12 col-md-6" required>
    </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="row mt-5">
            <button class="btn btn-lg btn-dark m-auto" type="submit">
                Me connecter
            </button>
        </div>

        <div class='row mt-5'><a href="{{ path('app_forgot_password_request') }}" class='mx-auto my-2'>Mot de passe oublié ?</a></div>
    </form>
</div>
{% endblock %}
