 {% extends 'base.html.twig' %}

{% block title %}Inscription Solo{% endblock %}

{% block body %}

{% if infos %}

<div class='row'>
<div class="col-sm-12 col-md-6 useraccount m-auto p-3">
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Nom du personnage : {{ infos.NomPersoSolo }}</div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Univers du personnage : {{ infos.UniverSolo }}</div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Type de média : {% if infos.MediaSolo == 1 %}
            Musique
            {% else %}
            Vidéo
            {% endif %}
            </div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Lancement du média : {% if infos.envoiMediaSolo == 1 %}
            Avant l'entrée sur scène
            {% else %}
            Après l'entrée sur scène
            {% endif %}
            </div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Aide pour monter sur scène : {% if infos.AideSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}
            </div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Accessoires à déposer sur scène : {% if infos.AccessoireSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}
            </div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Déscription des accessoires : {{ infos.DescriptionAccessoireSolo }}</div>
        </div>
        <div class="row py-1">
            <div class="col-sm-12 col-md-12">Autres informations : {{ infos.InfosSolo }}</div>
        </div>
        <div class="row mb-3">
            <a href="{{path('inscription_solo_edit',{'id':infos.id})}}" class="btn btn-warning col-4 m-auto">Editer</a>

            <form method="POST" class='col-4 m-auto btn' action="{{path('inscription_solo_delete',{'id':infos.id})}}"
                onSubmit ="return confirm('Confirmer la suppression ?')" style="display:inline-block" >
                    <input type="hidden" name="_method" value="SUPUSERSOLO">
                        <input type="hidden" name="_token" value="{{csrf_token('SUPUSERSOLO' ~ infos.id)}}">
                                                <input type="submit" class="btn btn-danger" value="Supprimer">
            </form>
</div>
{% else %}


<a href="{{path('inscription_solo_ajout')}}" class="btn btn-warning col-4 m-auto">M'inscrire au concours</a>

{% endif %}
</div>
{% endblock %}